/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#layout.active .menu-link {
    left: 0;
    position: absolute;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    display: none;
    width: 200px;
    float: left;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    color: #000;
    overflow-y: auto;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    margin: 2rem 0 0 1rem;
}

#menu.active{
    position: absolute;
    left: 34px;
    top: 0;
    display: block;
    margin-top: 0;
}

/*
All anchors inside the menu should be styled like this.
*/
#menu a {
    color: #111;
    border: none;
    padding: 0.6em 0 0.6em 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-top: 1px solid #15965A;
    border-bottom: 1px solid #15965A;
}

#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
}

#menu .pure-menu li{
    border-left: 1px solid #15965A;
    border-right: 1px solid #15965A;
    margin-top: -1px;
}


#menu .pure-menu-title{
    padding: 0.6em;
    background: #15965A;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus{
    text-decoration: none;
}
#menu .pure-menu li.active a{
    background-color: #155A96;
    color: #fff;
    text-decoration: none;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: absolute;
    display: block; /* show this onabsolutely on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background-color: #159957;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 5em;
    height: auto;
    padding: 1.9em 1.6em;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
    #main{
        max-width: 64em;
        margin: 0 auto;
    }

    #layout {
        left: 0;
    }

    .menu-link {
        position: absolute;
        left: 200px;
        display: none;
    }

    #menu{
        display: block;
    }

    .main-content{
        margin-left: 200px;
    }

    #layout.active .menu-link {
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    /*#layout.active {*/
        /*position: relative;*/
        /*left: 200px;*/
    /*}*/
}

