{
  "swagger" : "2.0",
  "info" : {
    "description" : "This API supports UBL XML to UBL JSON trasnformations and Validations of UBL JSON documents",
    "version" : "1.0",
    "title" : "UBL Syntax 2.0 Transformation and Validation",
    "contact" : {
      "email" : "info@ausdigital.org"
    },
    "license" : {
      "name" : "GPL 3.0",
      "url" : "https://www.gnu.org/licenses/gpl-3.0.en.html"
    }
  },
  "host" : "syn.testpoint.io",
  "schemes" : [ "https", "http" ],
  "basePath" : "/api/v0",
  "paths" : {
    "/ubl2json" : {
      "post" : {
        "summary" : "converts UBL 2.1 XML to JSON",
        "operationId" : "ubl2json",
        "description" : "Pass a valid UBL 2.1 XML instance document and this API will return a semantically equivalent JSON instance document.",
        "consumes" : [ "application/xml" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ublxml",
          "description" : "valid UBL 2.1 XML instance",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "UBL document in JSON representation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "$ref" : "#/responses/error400"
          },
          "401" : {
            "$ref" : "#/responses/error401"
          },
          "500" : {
            "$ref" : "#/responses/error500"
          }
        }
      }
    },
    "/json2ubl" : {
      "post" : {
        "summary" : "converts JSON UBL to UBL 2.1 XML",
        "operationId" : "json2ubl",
        "description" : "Pass a valid UBL JSON instance document and this API will return a fully conformant UBL 2.1 XML instance.",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ubljson",
          "description" : "valid UBL JSON instance",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "UBL 2.1 XML document",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "$ref" : "#/responses/error400"
          },
          "401" : {
            "$ref" : "#/responses/error401"
          },
          "500" : {
            "$ref" : "#/responses/error500"
          }
        }
      }
    },
    "/validator" : {
      "post" : {
        "summary" : "validates a UBL JSON instance document",
        "operationId" : "validator",
        "description" : "Pass a UBL JSON instance and this API will return validation results.",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ubljson",
          "description" : "UBL JSON instance",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK, Valid document"
          },
          "400" : {
            "$ref" : "#/responses/error400"
          },
          "401" : {
            "$ref" : "#/responses/error401"
          },
          "500" : {
            "$ref" : "#/responses/error500"
          }
        }
      }
    }
  },
  "definitions" : {
    "error" : {
      "description" : "standard error response srtucture as per jsonapi.org/format/#errors",
      "properties" : {
        "link" : {
          "type" : "string",
          "description" : "a URL linking to a full description of the error."
        },
        "code" : {
          "type" : "string",
          "description" : "an application-specific error code, expressed as a string value."
        },
        "title" : {
          "type" : "string",
          "description" : "a short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization."
        },
        "detail" : {
          "type" : "string",
          "description" : "a human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized."
        },
        "source" : {
          "description" : "an object containing references to the source of the error, optionally including any of the following",
          "properties" : {
            "pointer" : {
              "type" : "string",
              "description" : "a JSON Pointer [RFC6901] to the associated entity in the request document [e.g. \"/data\" for a primary data object, or \"/data/attributes/title\" for a specific attribute]."
            },
            "parameter" : {
              "type" : "string",
              "description" : "a string indicating which URI query parameter caused the error."
            }
          }
        }
      }
    }
  },
  "responses" : {
    "error400" : {
      "description" : "Standard error response",
      "schema" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/error"
            }
          }
        }
      }
    },
    "error401" : {
      "description" : "Authorisation error - api key refused.",
      "schema" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/error"
            }
          }
        }
      }
    },
    "error500" : {
      "description" : "Oops, something went wrong on our side.",
      "schema" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/error"
            }
          }
        }
      }
    }
  }
}