swagger: '2.0'
info:
  version: '1.0'
  title: Notary (NRY) interface specification
  description: >
    "The "Notary" (NRY) specification supports financial service innovation by
    defining a standard interface and protocol for recording financial grade
    transactions in a distributed ledger


    All moments of time are described in ISO 8601 datetime format with the
    timezone. This requirement is made to ensure timezone is passed, and client
    fully understands the moment of time which client wants to describe.


    The jsonapi.org is used where it's possible.
host: nry.testpoint.io
securityDefinitions:
  JWT:
    type: apiKey
    description: >
      JWT token value prepended by `JWT`, for example: 

      `JWT XXXXX.YYYYYYYYYYYYYYYYYYYYYYY.ZZZZZZ`

      You can get your JWT for testpoint.io services at
      https://idp.testpoint.io/
    in: header
    name: Authorization
parameters:
  namespace:
    name: namespace
    in: path
    description: '`private` or `public`'
    required: true
    type: string
    default: public
  docId:
    name: doc_id
    in: path
    description: QmHash of the notarized document
    required: true
    type: string
paths:
  '/{namespace}/':
    get:
      summary: List of documents metadatas
      description: >-
        Return full list of all notarized documents for given namespace (public
        or private), with basic metadata and filtering/search capabilities.
      operationId: getNryDocumentsList
      parameters:
        - $ref: '#/parameters/namespace'
        - in: query
          name: restrict_list
          type: string
          required: false
          description: comma-separated list of participant identifiers
        - in: query
          name: submitted_after
          type: string
          required: false
          description: ISO 8601 date to filter the documents
        - in: query
          name: submitted_before
          type: string
          required: false
          description: ISO 8601 date to filter the documents
      responses:
        '200':
          description: List of notary documents metadatas
          schema:
            $ref: '#/definitions/NryDocumentMetadataList'
        '400':
          description: >
            * Invalid participant id {field_name} : value doesn't start with
            'urn:oasis:names:tc:ebcore:partyid-type' prefix

            * Invalid participant id {field_name} : value doesn't have any ::
            delimiter

            * Unknown {field_name} datetime format (ISO 8601)

            * {field_name} must have a timezone (ISO 8601)
        '401':
          description: >
            * Wrong JWT auth (for /private/)

            * Can't determine your participant_id - please pass correct JWT (for
            /private/)
        '404':
          description: The requested URL was not found on this server
        '500':
          description: Internal server error
    post:
      summary: Notarize new document
      security:
        - JWT: []
      description: multipart/form-data request to notarize some object.
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/namespace'
        - description: 'object data, optionally with content-type and filename'
          in: formData
          name: object
          type: file
          required: true
        - description: >
            JSON file with parameters. Shall be valid against schema
            https://github.com/ausdigital/ausdigital-nry/blob/master/resources/1.0/spec/nry_post_param.schema
          in: formData
          name: parameters
          type: file
          required: true
      responses:
        '201':
          description: 'Document created, notarization queued'
          schema:
            $ref: '#/definitions/NryDocumentMetadataStandalone'
        '400':
          description: >
            * The parameters json is invalid - bad JSON format

            * Invalid participant id {field_name} : value doesn't start with
            'urn:oasis:names:tc:ebcore:partyid-type' prefix

            * Invalid participant id {field_name} : value doesn't have any ::
            delimiter

            * Sorry, maximal object size is 100MB currently

            * Unknown 'durability' datetime format (ISO 8601)

            * 'durability' must have a timezone (ISO 8601)

            * 'durability' must be at least one month in future

            * ac_code field must be present and be one of the next values: '0',
            '1', '2', '3' for ausdigital-nry/1 spec

            * restrict_list must not be filled for ac_code = 0

            * network attribute doesn't equal to this notary participant ID, so
            object must be private (public requested instead)

            * For ac_code {ac_code} object must be {public/private}
            ({public/private} passed)
        '401':
          description: >
            * Wrong JWT auth (for /private/)

            * Can't determine your participant_id - please pass correct JWT (for
            /private/)
        '404':
          description: The requested URL was not found on this server
        '500':
          description: Internal server error
  '/{namespace}/{doc_id}/':
    get:
      summary: Get document content
      description: >-
        Return notarize document content for given doc_id. If namespace is
        `private` then the check if given user can view this document is
        performed.
      operationId: getNryDocument
      parameters:
        - $ref: '#/parameters/namespace'
        - $ref: '#/parameters/docId'
      responses:
        '200':
          description: >-
            Document content (body), with content-type optionally provided (or
            `application/octet-stream` if unknown)
        '401':
          description: >
            * JWT auth is required (for /private/)

            * Can't determine your participant_id - please pass correct JWT (for
            /private/)
        '404':
          description: |
            * Item hasn't been uploaded completely yet
            * The requested URL was not found on this server
        '500':
          description: Internal server error
  /archives/:
    get:
      summary: Get list of archives
      description: >
        Helper endpoint to see the list of already notarized items. Replaces
        gazette for debug purposes and easiness. Response format shall be
        self-explanatory and may change without notice.
      responses:
        '200':
          description: List of the archives
        '500':
          description: Internal server error
definitions:
  NryDocumentMetadataList:
    properties:
      links:
        type: object
        description: standard JsonAPI links object
      data:
        description: documents metadatas list
        type: array
        items:
          $ref: '#/definitions/NryDocumentMetadata'
      meta:
        type: object
        description: standard JsonAPI meta object
  NryDocumentMetadataStandalone:
    properties:
      data:
        $ref: '#/definitions/NryDocumentMetadata'
  NryDocumentMetadata:
    properties:
      type:
        type: string
        description: NryDocument
      id:
        type: string
        description: >-
          notary-unique internal document identifier, uuid4. Different users may
          send same file to notarize, having same doc_id but different UUID
          identifiers, which makes it possible to reference concrete
          notarization request even if doc_ids are same
      attributes:
        properties:
          doc_id:
            type: string
            description: 'QmHash of the document, uniquely describing the content'
          business:
            type: string
            description: URN participant identifier of the document sender
          created:
            type: string
            description: ISO document creation time
          restrict_list:
            type: array
            description: list of businesses allowed to access this object
            items:
              type: string
          is_public:
            type: boolean
            description: shows if object is public or private
          location:
            type: string
            description: relative URL where the notarized document may be found
          durability:
            type: string
            description: >-
              host till ISO datetime, after that date hosting MAY be provided,
              but not SHOULD be
          network:
            type: string
            description: >-
              the value of `network` attribute MUST be a valid business
              identifier URN per the DCP and DCL specifications
          ac_code:
            type: string
            description: describes publicity of HocDetail and notarized document.
