{"swagger":"2.0","info":{"description":"APIs for validation of the various billing documents (invoice, credit note, ..)","version":"1.0","title":"Billing document validation API"},"host":"api.e-invoice.com","basePath":"/validator","paths":{"/invoice":{"post":{"summary":"Validate an invoice","description":"Validate an invoice","operationId":"validate","parameters":[{"in":"body","name":"invoice","description":"invoice to be sent","required":true,"schema":{"required":["BuyerReference","DueDate","InvoiceTypeCode","IssueDate","OrderReference"],"properties":{"IssueDate":{"type":"string","format":"date"},"DueDate":{"type":"string","format":"date"},"InvoiceTypeCode":{"type":"string"},"Note":{"type":"string"},"DocumentCurrencyCode":{"type":"string"},"BuyerReference":{"type":"string"},"OrderReference":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"AccountingSupplierParty":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"}}},"AccountingCustomerParty":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"},"BuyerContact":{"properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}},"title":"Contact"}}},"Delivery":{"properties":{"ActualDeliveryDate":{"type":"string"},"DeliveryAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"}}},"PaymentMeans":{"properties":{"PayeeFinancialAccount":{"properties":{"FinancialInstitutionBranch":{"properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"ID":{"type":"string"}}},"InstructionID":{"type":"string"},"ID":{"type":"string"},"PaymentMeansCode":{"type":"string"}}},"TaxTotal":{"required":["TaxAmount"],"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"LegalMonetaryTotal":{"properties":{"TaxInclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxExclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"PayableAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"InvoiceLine":{"type":"array","items":{"properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxTotal":{"properties":{"TaxSubtotal":{"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}}}},"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"Item":{"properties":{"Description":{"type":"string"},"SellersItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"StandardItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}},"Price":{"properties":{"PriceAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"BaseQuantity":{"type":"string","format":"integer"}}}},"title":"InvoiceLine"}}},"title":"NewInvoice"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Forbidden Error"},"500":{"description":"Any appropriate HTTP server error"}}}}},"definitions":{"Invoice":{"required":["BuyerReference","DueDate","InvoiceTypeCode","IssueDate","OrderReference"],"properties":{"IssueDate":{"type":"string","format":"date"},"DueDate":{"type":"string","format":"date"},"InvoiceTypeCode":{"type":"string"},"Note":{"type":"string"},"DocumentCurrencyCode":{"type":"string"},"BuyerReference":{"type":"string"},"OrderReference":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"AccountingSupplierParty":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"}}},"AccountingCustomerParty":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"},"BuyerContact":{"properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}},"title":"Contact"}}},"Delivery":{"properties":{"ActualDeliveryDate":{"type":"string"},"DeliveryAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"}}},"PaymentMeans":{"properties":{"PayeeFinancialAccount":{"properties":{"FinancialInstitutionBranch":{"properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"ID":{"type":"string"}}},"InstructionID":{"type":"string"},"ID":{"type":"string"},"PaymentMeansCode":{"type":"string"}}},"TaxTotal":{"required":["TaxAmount"],"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"LegalMonetaryTotal":{"properties":{"TaxInclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxExclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"PayableAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"InvoiceLine":{"type":"array","items":{"properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxTotal":{"properties":{"TaxSubtotal":{"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}}}},"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"Item":{"properties":{"Description":{"type":"string"},"SellersItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"StandardItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}},"Price":{"properties":{"PriceAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"BaseQuantity":{"type":"string","format":"integer"}}}},"title":"InvoiceLine"}}},"title":"NewInvoice"},"InvoiceLine":{"properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxTotal":{"properties":{"TaxSubtotal":{"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}}}},"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"Item":{"properties":{"Description":{"type":"string"},"SellersItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"StandardItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}},"Price":{"properties":{"PriceAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"BaseQuantity":{"type":"string","format":"integer"}}}},"title":"InvoiceLine"},"Currency":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"},"Contact":{"properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}},"title":"Contact"},"CompanyID":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"},"Address":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Name":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"ID":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"Suppier Party":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"}}},"Buyer Party":{"properties":{"Party":{"required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"PartyName":{"required":["Name"],"properties":{"Name":{"type":"string"}},"title":"Name"},"PostalAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"},"PartyLegalEntity":{"required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}},"title":"Company ID"}},"title":"Party Details"},"BuyerContact":{"properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}},"title":"Contact"}}},"Delivery Details":{"properties":{"ActualDeliveryDate":{"type":"string"},"DeliveryAddress":{"properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"properties":{"Line":{"type":"string"}},"title":"Address Line"},"Country":{"properties":{"IdentificationCode":{"type":"string","description":"Country Code"}},"title":"Country"}},"title":"Address"}}},"FinancialInstitutionBranch":{"properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"PayeeFinancialAccount":{"properties":{"FinancialInstitutionBranch":{"properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"ID":{"type":"string"}}},"Playment":{"properties":{"PayeeFinancialAccount":{"properties":{"FinancialInstitutionBranch":{"properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"ID":{"type":"string"}}},"InstructionID":{"type":"string"},"ID":{"type":"string"},"PaymentMeansCode":{"type":"string"}}},"TaxAmount":{"required":["TaxAmount"],"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"LegalMonetaryTotal":{"properties":{"TaxInclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"LineExtensionAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxExclusiveAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"PayableAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}},"TaxSubtotal":{"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}}}},"TaxTotal":{"properties":{"TaxSubtotal":{"properties":{"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"TaxCategory":{"properties":{"TaxScheme":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}}}},"TaxAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"}}},"Item Identification":{"properties":{"Description":{"type":"string"},"SellersItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"},"StandardItemIdentification":{"required":["ID"],"properties":{"ID":{"type":"string"}},"title":"Identification GUID"}}},"Item Price":{"properties":{"PriceAmount":{"required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"title":"Currency"},"BaseQuantity":{"type":"string","format":"integer"}}}}}