{"swagger":"2.0","host":"syn.testpoint.io","basePath":"/","info":{"version":"1.0","title":"Billing document validation API","description":"APIs for validation of the various billing documents (invoice, credit note, ..)"},"paths":{"/invoice":{"post":{"summary":"Validate an invoice","description":"Validate an invoice","operationId":"validate","parameters":[{"name":"invoice","in":"body","description":"invoice to be sent","required":true,"schema":{"title":"NewInvoice","required":["IssueDate","DueDate","InvoiceTypeCode","BuyerReference","OrderReference","AccountingSupplierParty","AccountingCustomerParty"],"properties":{"IssueDate":{"type":"string","format":"date"},"DueDate":{"type":"string","format":"date"},"InvoiceTypeCode":{"type":"string"},"Note":{"type":"string"},"DocumentCurrencyCode":{"type":"string"},"BuyerReference":{"type":"string"},"OrderReference":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"AccountingSupplierParty":{"title":"Suppier Party","properties":{"Party":{"title":"Party Details","required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"PartyName":{"title":"Name","required":["Name"],"properties":{"Name":{"type":"string"}}},"PostalAddress":{"title":"Address","properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"title":"Address Line","properties":{"Line":{"type":"string"}}},"Country":{"title":"Country","properties":{"IdentificationCode":{"description":"Country Code","type":"string"}}}}},"PartyLegalEntity":{"title":"Company ID","required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}}}}}}},"AccountingCustomerParty":{"title":"Buyer Party","properties":{"Party":{"title":"Party Details","required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"$ref":"http://json-schema.org/schema#/definitions/ID"},"PartyName":{"$ref":"http://json-schema.org/schema#/definitions/Name"},"PostalAddress":{"$ref":"http://json-schema.org/schema#/definitions/Address"},"PartyLegalEntity":{"$ref":"http://json-schema.org/schema#/definitions/CompanyID"}}},"BuyerContact":{"title":"Contact","properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}}}}},"Delivery":{"title":"Delivery Details","properties":{"ActualDeliveryDate":{"type":"string"},"DeliveryAddress":{"title":"Address","properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"$ref":"http://json-schema.org/schema#/definitions/AddressLine"},"Country":{"$ref":"http://json-schema.org/schema#/definitions/Country"}}}}},"PaymentMeans":{"title":"Playment","properties":{"ID":{"type":"string"},"PaymentMeansCode":{"type":"string"},"InstructionID":{"type":"string"},"PayeeFinancialAccount":{"title":"PayeeFinancialAccount","properties":{"ID":{"type":"string"},"FinancialInstitutionBranch":{"title":"FinancialInstitutionBranch","properties":{"ID":{"type":"string"},"Name":{"type":"string"}}}}}}},"TaxTotal":{"title":"TaxAmount","required":["TaxAmount"],"properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}}}},"LegalMonetaryTotal":{"title":"LegalMonetaryTotal","properties":{"LineExtensionAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxExclusiveAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxInclusiveAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"PayableAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}}}},"InvoiceLine":{"type":"array","items":{"title":"InvoiceLine","properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxTotal":{"title":"TaxTotal","properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxSubtotal":{"title":"TaxSubtotal","properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxCategory":{"title":"TaxCategory","properties":{"TaxScheme":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}}}}}}}},"Item":{"title":"Item Identification","properties":{"Description":{"type":"string"},"SellersItemIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"StandardItemIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}}}},"Price":{"title":"Item Price","properties":{"PriceAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"BaseQuantity":{"type":"string","format":"integer"}}}}}}}}}],"responses":{"200":{"description":"OK"},"403":{"description":"Forbidden Error"},"500":{"description":"Any appropriate HTTP server error"}}}}},"definitions":{"Invoice":{"title":"NewInvoice","required":["IssueDate","DueDate","InvoiceTypeCode","BuyerReference","OrderReference","AccountingSupplierParty","AccountingCustomerParty"],"properties":{"IssueDate":{"type":"string","format":"date"},"DueDate":{"type":"string","format":"date"},"InvoiceTypeCode":{"type":"string"},"Note":{"type":"string"},"DocumentCurrencyCode":{"type":"string"},"BuyerReference":{"type":"string"},"OrderReference":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"AccountingSupplierParty":{"title":"Suppier Party","properties":{"Party":{"title":"Party Details","required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"$ref":"http://json-schema.org/schema#/definitions/ID"},"PartyName":{"$ref":"http://json-schema.org/schema#/definitions/Name"},"PostalAddress":{"$ref":"http://json-schema.org/schema#/definitions/Address"},"PartyLegalEntity":{"$ref":"http://json-schema.org/schema#/definitions/CompanyID"}}}}},"AccountingCustomerParty":{"title":"Buyer Party","properties":{"Party":{"title":"Party Details","required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"$ref":"http://json-schema.org/schema#/definitions/ID"},"PartyName":{"$ref":"http://json-schema.org/schema#/definitions/Name"},"PostalAddress":{"$ref":"http://json-schema.org/schema#/definitions/Address"},"PartyLegalEntity":{"$ref":"http://json-schema.org/schema#/definitions/CompanyID"}}},"BuyerContact":{"title":"Contact","properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}}}}},"Delivery":{"title":"Delivery Details","properties":{"ActualDeliveryDate":{"type":"string"},"DeliveryAddress":{"title":"Address","properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"$ref":"http://json-schema.org/schema#/definitions/AddressLine"},"Country":{"$ref":"http://json-schema.org/schema#/definitions/Country"}}}}},"PaymentMeans":{"title":"Playment","properties":{"ID":{"type":"string"},"PaymentMeansCode":{"type":"string"},"InstructionID":{"type":"string"},"PayeeFinancialAccount":{"title":"PayeeFinancialAccount","properties":{"ID":{"type":"string"},"FinancialInstitutionBranch":{"title":"FinancialInstitutionBranch","properties":{"ID":{"type":"string"},"Name":{"type":"string"}}}}}}},"TaxTotal":{"title":"TaxAmount","required":["TaxAmount"],"properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}}}},"LegalMonetaryTotal":{"title":"LegalMonetaryTotal","properties":{"LineExtensionAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxExclusiveAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxInclusiveAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"PayableAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}}}},"InvoiceLine":{"type":"array","items":{"title":"InvoiceLine","properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"$ref":"http://json-schema.org/schema#/definitions/Currency"},"TaxTotal":{"title":"TaxTotal","properties":{"TaxAmount":{"$ref":"http://json-schema.org/schema#/definitions/Currency"},"TaxSubtotal":{"title":"TaxSubtotal","properties":{"TaxAmount":{"$ref":"http://json-schema.org/schema#/definitions/Currency"},"TaxCategory":{"title":"TaxCategory","properties":{"TaxScheme":{"$ref":"http://json-schema.org/schema#/definitions/ID"}}}}}}},"Item":{"title":"Item Identification","properties":{"Description":{"type":"string"},"SellersItemIdentification":{"$ref":"http://json-schema.org/schema#/definitions/ID"},"StandardItemIdentification":{"$ref":"http://json-schema.org/schema#/definitions/ID"}}},"Price":{"title":"Item Price","properties":{"PriceAmount":{"$ref":"http://json-schema.org/schema#/definitions/Currency"},"BaseQuantity":{"type":"string","format":"integer"}}}}}}}},"InvoiceLine":{"title":"InvoiceLine","properties":{"ID":{"type":"string"},"Note":{"type":"string"},"InvoicedQuantity":{"type":"string","format":"integer"},"LineExtensionAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxTotal":{"title":"TaxTotal","properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxSubtotal":{"title":"TaxSubtotal","properties":{"TaxAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"TaxCategory":{"title":"TaxCategory","properties":{"TaxScheme":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}}}}}}}},"Item":{"title":"Item Identification","properties":{"Description":{"type":"string"},"SellersItemIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"StandardItemIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}}}},"Price":{"title":"Item Price","properties":{"PriceAmount":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"BaseQuantity":{"type":"string","format":"integer"}}}}},"Currency":{"title":"Currency","required":["currency","value"],"properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"Party":{"title":"Party Details","required":["PartyIdentification","PartyName"],"properties":{"PartyIdentification":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}},"PartyName":{"title":"Name","required":["Name"],"properties":{"Name":{"type":"string"}}},"PostalAddress":{"title":"Address","properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"$ref":"http://json-schema.org/schema#/definitions/AddressLine"},"Country":{"$ref":"http://json-schema.org/schema#/definitions/Country"}}},"PartyLegalEntity":{"title":"Company ID","required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}}}}},"Contact":{"title":"Contact","properties":{"ID":{"type":"string"},"Telephone":{"type":"string"},"ElectronicMail":{"type":"string"}}},"CompanyID":{"title":"Company ID","required":["CompanyID"],"properties":{"CompanyID":{"type":"string"}}},"Address":{"title":"Address","properties":{"CityName":{"type":"string"},"PostalZone":{"type":"string"},"CountrySubentity":{"type":"string"},"AddressLine":{"title":"Address Line","properties":{"Line":{"type":"string"}}},"Country":{"title":"Country","properties":{"IdentificationCode":{"description":"Country Code","type":"string"}}}}},"Country":{"title":"Country","properties":{"IdentificationCode":{"description":"Country Code","type":"string"}}},"AddressLine":{"title":"Address Line","properties":{"Line":{"type":"string"}}},"Name":{"title":"Name","required":["Name"],"properties":{"Name":{"type":"string"}}},"ID":{"title":"Identification GUID","required":["ID"],"properties":{"ID":{"type":"string"}}}},"id":"http://json-schema.org/schema#"}