{"swagger":"2.0","info":{"version":"1.0","title":"Digital Capability Publisher (DCP) interface specification","description":"The \"Digital Capability Publisher\" (DCP) provides the ability to discover detailed service information and associated digital certificates for any known business identifier. \n\nPlease mind the test installation and ensure data validity - some of such installations have data like in production, with real businesses, but this data is not guaranteed to be valid and may be changed in development purposes; do not rely on data from specific hostname to real-world production installation until service owners specifically said it's true and valid. For example, any *.testpoint.io installations have the test data and can't be used in production.\n\nThis API specification should be valid for all supporting installations and implementations.\n\nIf you want OASIS XML output:\n* pass Accept header with 'application/xml' or 'text/xml' value\n* pass ?format=xml as GET query parameter\n\nOASIS-compliant urls also supported (but it is strongy recommended to implement json, just because JSON is more flexible and contains more information). Examples:\n\n* https://dcp.testpoint.io/urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307?format=xml\n* https://dcp.testpoint.io/urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307/service/dbc::invoice?format=xml\n  \nDespite Oasis SMP standard prohibit using SSL/TLS, DPC implementation speicfication defines HTTPS as a signle supported protocol.  \nPlease note that JSON format differs from specification XML and has more data in it.\n\nIf you want to do any authenticated test requests then it's better to use CURL, not Swaggerhub website.\n"},"host":"dcp.testpoint.io","schemes":["https"],"basePath":"/","securityDefinitions":{"JWT":{"type":"apiKey","description":"JWT token value prepended by `JWT`, for example: \n`JWT XXXXX.YYYYYYYYYYYYYYYYYYYYYYY.ZZZZZZ`\nYou can get your JWT for testpoint.io services at https://idp.testpoint.io/\n","in":"header","name":"Authorization"}},"produces":["application/json","application/xml","text/html","text/xml"],"parameters":{"fingerprintParameter":{"name":"fingerprint","in":"path","description":"value of fingerprint (should be not less than 40 characteres)","required":true,"type":"string","default":""},"participantIdUrlParameter":{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},"linkedParticipantIdUrlParameter":{"name":"linked_participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},"documentIdUrlParameter":{"name":"document_id","in":"path","description":"Represents the type of document that the recipient is able to receive. The document is represented by an identifier (identifying the document type) and an identifier scheme, which the format of the identifier itself.","required":true,"type":"string","default":"dbc::invoices"},"acceptHeader":{"name":"Accept","in":"header","description":"accept header","required":false,"type":"string","default":"application/json","enum":["application/json","application/xml","text/html","text/xml"]},"contentTypeHeader":{"name":"Content-Type","in":"header","description":"content type header","required":true,"type":"string","default":"application/json","enum":["application/json","application/xml","text/html","text/xml"]},"notRevokedBefore":{"name":"notRevokedBefore","in":"query","description":"Filter parameter for keys never revoked or revoked lately than given time (in ISO 8601 format)","required":false,"type":"string","format":"date-time","default":"2017-03-02T00:00:00.000000+00:00"},"published_before":{"name":"published_before","in":"query","description":"Filter parameter for keys published before given time (in ISO 8601 format)","required":false,"type":"string","format":"date-time","default":"2017-03-03T00:00:00.000000+00:00"}},"responses":{"201":{"description":"The request has been fulfilled and has resulted in one or more new resources being created.","headers":{"location":{"type":"string","description":"The location of the created resource. Should match the resource location used to create it."},"date":{"type":"string","description":"The date and time that the message was originated."}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"401":{"description":"Invalid auth header. No credentials provided.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP-X401\",\n            \"name\": \"Authentication Failed\",\n            \"userMessage\": \"Invalid auth header. No credentials provided.\"\n        }\n    ]\n}"}},"403":{"description":"The server understood the request, but is refusing to fulfill it. Return this if there is a problem with the client certificate.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n  \"errors\": [\n    {\n      \"code\": \"DCP-X403\",\n      \"name\": \"Permission Denied\",\n      \"userMessage\": \"Participant id urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::99998888779 not available for given user - not business owner\"\n    }\n  ]\n}"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"406":{"description":"The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"403-key":{"description":"* Participant id {participant_id}} not available for given user - not business owner\n* Invalid auth header. No credentials provided.\n* Badly formed JWT\n* Invalid Authorization header. JWT Signature verification failed.\n","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"204-create":{"description":"The resource already existed and nothing happened if the body was empty. If the body was not empty and the participant identifier matched the UR, the resource is updated.","headers":{"date":{"type":"string","description":"The date and time that the message was originated."}}},"204-delete":{"description":"The resource has been removed.","headers":{"date":{"type":"string","description":"The date and time that the message was originated."}}}},"paths":{"/{participant_id}":{"get":{"tags":["service group"],"summary":"Service Group Info","description":"Get Service Group Info","operationId":"getServiceGroup","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"Accept","in":"header","description":"accept header","required":false,"type":"string","default":"application/json","enum":["application/json","application/xml","text/html","text/xml"]}],"responses":{"200":{"description":"Participant Information","headers":{"Content-Type":{"type":"string"}},"schema":{"properties":{"serviceMetadataReferenceCollection":{"type":"array","items":{"type":"string"}},"extension":{"type":"object"},"name":{"type":"string"},"participantIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}}}},"examples":{"application/json":"{\n  \"ServiceMetadataReferenceCollection\": [\n    \"at::atata\"\n  ],\n  \"Name\": \"default\",\n  \"Extension\": {},\n  \"ParticipantIdentifier\": {\n    \"scheme\": \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151\",\n    \"value\": \"51009286202\"\n  }\n}"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}}}}}},"/{participant_id}/service/{document_id}":{"get":{"tags":["service metadata"],"summary":"Service Metadata","description":"Get Signed Service Metadata","operationId":"getSignedServiceMetadata","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"document_id","in":"path","description":"Represents the type of document that the recipient is able to receive. The document is represented by an identifier (identifying the document type) and an identifier scheme, which the format of the identifier itself.","required":true,"type":"string","default":"dbc::invoices"},{"name":"Accept","in":"header","description":"accept header","required":false,"type":"string","default":"application/json","enum":["application/json","application/xml","text/html","text/xml"]}],"responses":{"200":{"description":"Service Metadata Information","headers":{"Content-Type":{"type":"string"}},"schema":{"required":["participantIdentifier"],"properties":{"processList":{"type":"array","items":{"properties":{"processIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"serviceEndpointList":{"type":"array","items":{"properties":{"endpointURI":{"type":"string"},"transportProfile":{"type":"string"},"requireBusinessLevelSignature":{"type":"string"},"minimumAuthenticationLevel":{"type":"number"},"certificate":{"type":"string"},"serviceDescription":{"type":"string"},"technicalInformationUrl":{"type":"string"},"serviceActivationDate":{"type":"string","format":"date"},"serviceExpirationDate":{"type":"string","format":"date"}}}}}}},"documentIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"id":{"type":"string"},"participantIdentifier":{"type":"array","items":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}}}}},"examples":{"application/json":"{\n  \"ProcessList\": [{\n      \"ProcessIdentifier\": {\n        \"scheme\": \"at\",\n        \"value\": \"atata\"\n      },\n      \"ServiceEndpointList\": [{\n          \"ServiceActivationDate\": \"2017-04-06\",\n          \"Certificate\": \"123\",\n          \"EndpointURI\": \"ataat\",\n          \"transportProfile\": \"at\",\n          \"ServiceExpirationDate\": \"2017-04-10\",\n          \"RequireBusinessLevelSignature\": \"false\",\n          \"TechnicalInformationUrl\": \"123\",\n          \"MinimumAuthenticationLevel\": \"0\",\n          \"ServiceDescription\": \"123\"\n        }\n      ]\n    }\n  ],\n  \"DocumentIdentifier\": {\n    \"scheme\": \"at\",\n    \"value\": \"atata\"\n  },\n  \"id\": \"at::atata\",\n  \"ParticipantIdentifier\": {\n    \"scheme\": \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151\",\n    \"value\": \"51009286202\"\n  }\n}\n"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"406":{"description":"The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}}},"500":{"description":"Internal server error"}}},"put":{"tags":["service metadata"],"summary":"Create/Update Service Metadata","description":"Create/Update Service Metadata","operationId":"createServiceMetadata","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"document_id","in":"path","description":"Represents the type of document that the recipient is able to receive. The document is represented by an identifier (identifying the document type) and an identifier scheme, which the format of the identifier itself.","required":true,"type":"string","default":"dbc::invoices"},{"name":"Content-Type","in":"header","description":"content type header","required":true,"type":"string","default":"application/json","enum":["application/json","application/xml","text/html","text/xml"]},{"description":"Service metadata info","in":"body","name":"body","required":true,"schema":{"properties":{"documentIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"processList":{"type":"array","items":{"properties":{"processIdentifier":{"$ref":"http://json-schema.org/schema#/definitions/processIdentifier"},"serviceEndpointList":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/serviceEndpoint"}}}}}},"example":{"application/json":"{\n    \"ProcessList\": [\n        {\n            \"ProcessIdentifier\": {\n                \"scheme\": \"at\",\n                \"value\": \"atata\"\n            },\n            \"ServiceEndpointList\": [\n                {\n                    \"ServiceActivationDate\": \"2017-04-06\",\n                    \"Certificate\": \"123\",\n                    \"EndpointURI\": \"ataat\",\n                    \"transportProfile\": \"at\",\n                    \"ServiceExpirationDate\": \"2017-04-10\",\n                    \"RequireBusinessLevelSignature\": \"false\",\n                    \"TechnicalInformationUrl\": \"123\",\n                    \"MinimumAuthenticationLevel\": \"0\",\n                    \"ServiceDescription\": \"123\"\n                }\n            ]\n        }\n    ],\n    \"DocumentIdentifier\": {\n        \"scheme\": \"at\",\n        \"value\": \"atata\"\n    },\n    \"id\": \"at::atata#\",\n    \"ParticipantIdentifier\": {\n        \"scheme\": \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151\",\n        \"value\": \"51009286202\"\n    }\n}"}}}],"security":[{"JWT":[]}],"responses":{"200":{"description":"Service Metadata Information","headers":{"Content-Type":{"type":"string"}},"schema":{"required":["participantIdentifier"],"properties":{"processList":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/process"}},"documentIdentifier":{"$ref":"http://json-schema.org/schema#/definitions/documentIdentifier"},"id":{"type":"string"},"participantIdentifier":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/participantIdentifier"}}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"401":{"description":"Invalid auth header. No credentials provided.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP-X401\",\n            \"name\": \"Authentication Failed\",\n            \"userMessage\": \"Invalid auth header. No credentials provided.\"\n        }\n    ]\n}"}},"403":{"description":"The server understood the request, but is refusing to fulfill it. Return this if there is a problem with the client certificate.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n  \"errors\": [\n    {\n      \"code\": \"DCP-X403\",\n      \"name\": \"Permission Denied\",\n      \"userMessage\": \"Participant id urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::99998888779 not available for given user - not business owner\"\n    }\n  ]\n}"}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}},"delete":{"tags":["service metadata"],"summary":"Delete Service Metadata Info","description":"Delete Service Metadata Info","operationId":"deleteServiceMetadata","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"document_id","in":"path","description":"Represents the type of document that the recipient is able to receive. The document is represented by an identifier (identifying the document type) and an identifier scheme, which the format of the identifier itself.","required":true,"type":"string","default":"dbc::invoices"}],"security":[{"JWT":[]}],"responses":{"204":{"description":"The resource has been removed.","headers":{"date":{"type":"string","description":"The date and time that the message was originated."}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"401":{"description":"Invalid auth header. No credentials provided.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP-X401\",\n            \"name\": \"Authentication Failed\",\n            \"userMessage\": \"Invalid auth header. No credentials provided.\"\n        }\n    ]\n}"}},"403":{"description":"The server understood the request, but is refusing to fulfill it. Return this if there is a problem with the client certificate.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n  \"errors\": [\n    {\n      \"code\": \"DCP-X403\",\n      \"name\": \"Permission Denied\",\n      \"userMessage\": \"Participant id urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::99998888779 not available for given user - not business owner\"\n    }\n  ]\n}"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}}},"/{participant_id}/keys/":{"get":{"tags":["keys"],"summary":"Get keys information","description":"Returns information about keys for particular business","operationId":"getKeysInfo","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"notRevokedBefore","in":"query","description":"Filter parameter for keys never revoked or revoked lately than given time (in ISO 8601 format)","required":false,"type":"string","format":"date-time","default":"2017-03-02T00:00:00.000000+00:00"},{"name":"published_before","in":"query","description":"Filter parameter for keys published before given time (in ISO 8601 format)","required":false,"type":"string","format":"date-time","default":"2017-03-03T00:00:00.000000+00:00"}],"responses":{"200":{"headers":{"Content-Type":{"type":"string"}},"description":"Participant Keys Information","schema":{"type":"array","items":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}}},"examples":{"application/json":"[\n  {\n    \"published\": \"2017-03-15T07:58:00.997569+00:00\",\n    \"keyid\": \"756E9B5376F8314C\",\n    \"pubKey\": \"-----BEGIN PGP PUBLIC KEY BLOCK-----\\nVersion: GnuPG v2\\n\\nmQENBFi1NKIBCACuZ6Rzqh8BLXOXEu59j5He8SGCUucDuDcna5rZ4fxi88aKDNzH\\ngdEkBcd5Mneu+obe+THMzhi/9Qc6PnBdYSYyP0319vpItDLNlIPqGYJsNtKME3EO\\n5WG4aie/QqCMT6IgmVZ+Im5Ph06SKkp0uJg0KPkY037z6sR3wXLl/d+dmlzfSQsC\\nIykVBLMqrpbF7Cut2p9UyyK2JuiabloLNUmE9lhg62I2ZT1I+M+tCQ32wZ9zhszA\\nnnGy4eCLhG7VFOPqWE8aRCPkvidetCh//XWRESSlWhBAVi75EJL8kBajz7JxKqxH\\ny0Cj7QY1ddeT7lBLI7e9itueBYysc+ZZ1yXXABEBAAG0QHVybjpvYXNpczpuYW1l\\nczp0YzplYmNvcmU6cGFydHlpZC10eXBlOmlzbzY1MjM6MDE1MTo6MTEwMDI4MTQ1\\nNDiJATcEEwEIACEFAli1NKICGwMFCwkIBwIGFQgJCgsCBBYCAwECHgECF4AACgkQ\\ndW6bU3b4MUzrfAf/WRwV+LFb+dc/cBU0XWmSwfA+/fVtEWpOntNFM5U/2R6j8vjn\\nd9a5kHeJEIXJRKk5rM7PppzQ1SORZ9Jq0e/htOkRiL3bvdFeiAclX5r2NfUz49oU\\n1FJj2LqrL8JzmFzeqQQb8PPgA087NmXI52XxhJQQahuJDUTof5i2dPOwOCCuAQju\\nwfYjchBYyRlwICdmzdDcFJPJGG2f4BH69oI29aAwD9U7hw7kzC3YhbMOmoxCkfdP\\nzJSCpYtDHeC1Fey5Yv+KMnyyap/bQYPnxFSWSg6vPe1dFGattYPx057pibI4fQvV\\nZocgN2rOb8ebfq5sYUIRXAwHJWAC+1i58SbWP7kBDQRYtTSiAQgAtQjmMRy9VDQT\\nFCwuPUmd94OhG/7LkvT4Q46VpbCU4g5t++Pw7YeQ38Pa4j8l/nx/eoOjdBMKE5FS\\nlT2iTcoeoxSnewrWMrzyptFtwGf223rKNad/4VPRA1en9jA4qTrynMHtbse2AR1S\\nVIW2tlVweooCyoKnFBubmFSowOuHoojRnehX2gvTXFW5EMb1jzHqzbMSyCusZY5t\\no/coj0Bu6lTH1MkOrDwMVQ8KvR9ZRNJHzXttOct0i0zLRF87IodHfFC1+kVm6rnc\\nzHgNf+GwPSDFQeU4Cy24JE9nt5ZdcKNlMiIU/AzGtyONoHR3yuF+CpN9jzk9G5ll\\nbjYttzlIQwARAQABiQEfBBgBCAAJBQJYtTSiAhsMAAoJEHVum1N2+DFMHxAIAKyp\\nT2XUDsjyVDRSQQSM2fqvCH71b3smTgogi48hV9ExgOO3a2QylYlmIB3xSHLtnDH6\\nZBjCbVlfJiOEE8MQy4NDmrRk9ROmBRHxnHGB9KNGhOD9dL/Os69NrXnYzKqPBnQw\\n86Ycj0KVH86PffBrw9D0A+eNq/58Yd0WTs/X2zGdCkB/ZwnZ8/7jGFirAWYqFVM0\\np7egIw7NoRfSPr/LH3SifaDwdVwOfvRShkKV2DvAy7m/KmHFnV0faIQQsoVBBuXf\\ntceoYY7cd6bEbzg0GV4zrXBQcTS0yarYpyirGq+5UCYLCyt3GCaiPG63ThRdHG4e\\nsF4A27aQOiSvZUpgRYA=\\n=mHW0\\n-----END PGP PUBLIC KEY BLOCK-----\",\n    \"revoked\": null,\n    \"fingerprint\": \"A07CCEC0099D8C2695FB5C90756E9B5376F8314C\"\n  }\n]"}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}},"post":{"tags":["keys"],"summary":"Create keys for business","operationId":"createKeysInfo","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"description":"New public key info","in":"body","name":"body","required":true,"schema":{"properties":{"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}},"example":{"application/json":"{\n    \"published\": \"2017-04-11T13:58:37.058Z\",\n    \"keyid\": \"string\",\n    \"pubKey\": \"string\",\n    \"revoked\": \"2017-04-11T13:58:37.058Z\",\n    \"fingerprint\": \"string\"\n}"}}}],"security":[{"JWT":[]}],"responses":{"201":{"description":"Created","schema":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"403":{"description":"* Participant id {participant_id}} not available for given user - not business owner\n* Invalid auth header. No credentials provided.\n* Badly formed JWT\n* Invalid Authorization header. JWT Signature verification failed.\n","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}}},"/{participant_id}/keys/{fingerprint}/":{"get":{"tags":["keys by fingerprint"],"summary":"Get keys information by fingerprint","description":"Returns information about key for particular business with given fingerprint","operationId":"getKeysDetailByFingerprint","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"fingerprint","in":"path","description":"value of fingerprint (should be not less than 40 characteres)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","headers":{"Content-Type":{"type":"string"}},"schema":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}},"examples":{"application/json":"{\n  \"published\": \"2017-03-15T07:58:00.997569+00:00\",\n  \"keyid\": \"756E9B5376F8314C\",\n  \"pubKey\": \"-----BEGIN PGP PUBLIC KEY BLOCK-----\\nVersion: GnuPG v2\\n\\nmQENBFi1NKIBCACuZ6Rzqh8BLXOXEu59j5He8SGCUucDuDcna5rZ4fxi88aKDNzH\\ngdEkBcd5Mneu+obe+THMzhi/9Qc6PnBdYSYyP0319vpItDLNlIPqGYJsNtKME3EO\\n5WG4aie/QqCMT6IgmVZ+Im5Ph06SKkp0uJg0KPkY037z6sR3wXLl/d+dmlzfSQsC\\nIykVBLMqrpbF7Cut2p9UyyK2JuiabloLNUmE9lhg62I2ZT1I+M+tCQ32wZ9zhszA\\nnnGy4eCLhG7VFOPqWE8aRCPkvidetCh//XWRESSlWhBAVi75EJL8kBajz7JxKqxH\\ny0Cj7QY1ddeT7lBLI7e9itueBYysc+ZZ1yXXABEBAAG0QHVybjpvYXNpczpuYW1l\\nczp0YzplYmNvcmU6cGFydHlpZC10eXBlOmlzbzY1MjM6MDE1MTo6MTEwMDI4MTQ1\\nNDiJATcEEwEIACEFAli1NKICGwMFCwkIBwIGFQgJCgsCBBYCAwECHgECF4AACgkQ\\ndW6bU3b4MUzrfAf/WRwV+LFb+dc/cBU0XWmSwfA+/fVtEWpOntNFM5U/2R6j8vjn\\nd9a5kHeJEIXJRKk5rM7PppzQ1SORZ9Jq0e/htOkRiL3bvdFeiAclX5r2NfUz49oU\\n1FJj2LqrL8JzmFzeqQQb8PPgA087NmXI52XxhJQQahuJDUTof5i2dPOwOCCuAQju\\nwfYjchBYyRlwICdmzdDcFJPJGG2f4BH69oI29aAwD9U7hw7kzC3YhbMOmoxCkfdP\\nzJSCpYtDHeC1Fey5Yv+KMnyyap/bQYPnxFSWSg6vPe1dFGattYPx057pibI4fQvV\\nZocgN2rOb8ebfq5sYUIRXAwHJWAC+1i58SbWP7kBDQRYtTSiAQgAtQjmMRy9VDQT\\nFCwuPUmd94OhG/7LkvT4Q46VpbCU4g5t++Pw7YeQ38Pa4j8l/nx/eoOjdBMKE5FS\\nlT2iTcoeoxSnewrWMrzyptFtwGf223rKNad/4VPRA1en9jA4qTrynMHtbse2AR1S\\nVIW2tlVweooCyoKnFBubmFSowOuHoojRnehX2gvTXFW5EMb1jzHqzbMSyCusZY5t\\no/coj0Bu6lTH1MkOrDwMVQ8KvR9ZRNJHzXttOct0i0zLRF87IodHfFC1+kVm6rnc\\nzHgNf+GwPSDFQeU4Cy24JE9nt5ZdcKNlMiIU/AzGtyONoHR3yuF+CpN9jzk9G5ll\\nbjYttzlIQwARAQABiQEfBBgBCAAJBQJYtTSiAhsMAAoJEHVum1N2+DFMHxAIAKyp\\nT2XUDsjyVDRSQQSM2fqvCH71b3smTgogi48hV9ExgOO3a2QylYlmIB3xSHLtnDH6\\nZBjCbVlfJiOEE8MQy4NDmrRk9ROmBRHxnHGB9KNGhOD9dL/Os69NrXnYzKqPBnQw\\n86Ycj0KVH86PffBrw9D0A+eNq/58Yd0WTs/X2zGdCkB/ZwnZ8/7jGFirAWYqFVM0\\np7egIw7NoRfSPr/LH3SifaDwdVwOfvRShkKV2DvAy7m/KmHFnV0faIQQsoVBBuXf\\ntceoYY7cd6bEbzg0GV4zrXBQcTS0yarYpyirGq+5UCYLCyt3GCaiPG63ThRdHG4e\\nsF4A27aQOiSvZUpgRYA=\\n=mHW0\\n-----END PGP PUBLIC KEY BLOCK-----\",\n  \"revoked\": null,\n  \"fingerprint\": \"A07CCEC0099D8C2695FB5C90756E9B5376F8314C\"\n}"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}},"patch":{"tags":["keys by fingerprint"],"summary":"Edit \"revoke\" parameter for given key","operationId":"editKey","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"fingerprint","in":"path","description":"value of fingerprint (should be not less than 40 characteres)","required":true,"type":"string","default":""},{"description":"Public key info","in":"body","name":"body","required":true,"schema":{"properties":{"revoked":{"type":"string","format":"date-time"}},"example":{"application/json":"{\n    \"revoked\": \"2017-04-11T14:00:09.546Z\"\n}"}}}],"security":[{"JWT":[]}],"responses":{"200":{"description":"OK","schema":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"403":{"description":"* Participant id {participant_id}} not available for given user - not business owner\n* Invalid auth header. No credentials provided.\n* Badly formed JWT\n* Invalid Authorization header. JWT Signature verification failed.\n","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}}},"/{participant_id}/aka":{"get":{"tags":["links"],"summary":"Get list of linked participants","description":"Return flat list of linked participant IDs for this pid excluding itself","operationId":"getLInkedParticipants","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"}],"responses":{"200":{"description":"OK","headers":{"Content-Type":{"type":"string"}},"schema":{"type":"array","items":{"type":"string","description":"linked participant ID"}},"examples":{"application/json":"[\n  \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0088::99999999\",\n  \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:1234::1234554321\"\n]"}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}},"post":{"tags":["links"],"summary":"Create link between participants","description":"Create link between participants","operationId":"createLink","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"description":"id of participant to link","in":"body","name":"body","required":true,"schema":{"properties":{"participantId":{"type":"string"}}}}],"security":[{"JWT":[]}],"responses":{"201":{"description":"Created","headers":{"Content-Type":{"type":"string"}},"schema":{"type":"array","items":{"type":"string","description":"linked participant ID"}}},"400":{"description":"The server cannot or will not process the request due to something that is perceived to be a client error.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP_V400\",\n            \"name\": \"DocumentIdentifier\",\n            \"userMessage\": \"This field is required.\"\n        }\n    ]\n}"}},"401":{"description":"Invalid auth header. No credentials provided.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP-X401\",\n            \"name\": \"Authentication Failed\",\n            \"userMessage\": \"Invalid auth header. No credentials provided.\"\n        }\n    ]\n}"}},"403":{"description":"* Participant id {participant_id}} not available for given user - not business owner\n* Invalid auth header. No credentials provided.\n* Badly formed JWT\n* Invalid Authorization header. JWT Signature verification failed.\n","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}}},"/{participant_id}/aka/{linked_participant_id}":{"delete":{"tags":["links"],"summary":"Delete linked participant by Id","description":"Delete linked participant by Id","operationId":"deleteLinkedPartcipantById","parameters":[{"name":"participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"},{"name":"linked_participant_id","in":"path","description":"The participant identifier. Comprises the identifier, and an identifier scheme. This identifier MUST have the same value of the {id} part of the URI of the enclosing ServiceMetadata resource.","required":true,"type":"string","default":"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::22341388307"}],"security":[{"JWT":[]}],"responses":{"204":{"description":"The resource has been removed.","headers":{"date":{"type":"string","description":"The date and time that the message was originated."}}},"401":{"description":"Invalid auth header. No credentials provided.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}},"examples":{"application/json":"{\n    \"errors\": [\n        {\n            \"code\": \"DCP-X401\",\n            \"name\": \"Authentication Failed\",\n            \"userMessage\": \"Invalid auth header. No credentials provided.\"\n        }\n    ]\n}"}},"403":{"description":"* Participant id {participant_id}} not available for given user - not business owner\n* Invalid auth header. No credentials provided.\n* Badly formed JWT\n* Invalid Authorization header. JWT Signature verification failed.\n","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"404":{"description":"The origin server did not find a current representation of the target resource or is not willing to disclose that one exists.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}},"500":{"description":"Internal server error; no action required; may help to retry request later or contact support.","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/error"}}}}}}}}},"definitions":{"serviceGroup":{"properties":{"serviceMetadataReferenceCollection":{"type":"array","items":{"type":"string"}},"extension":{"type":"object"},"name":{"type":"string"},"participantIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}}}},"serviceMetadataPut":{"properties":{"documentIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"processList":{"type":"array","items":{"properties":{"processIdentifier":{"$ref":"http://json-schema.org/schema#/definitions/processIdentifier"},"serviceEndpointList":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/serviceEndpoint"}}}}}},"example":{"application/json":"{\n    \"ProcessList\": [\n        {\n            \"ProcessIdentifier\": {\n                \"scheme\": \"at\",\n                \"value\": \"atata\"\n            },\n            \"ServiceEndpointList\": [\n                {\n                    \"ServiceActivationDate\": \"2017-04-06\",\n                    \"Certificate\": \"123\",\n                    \"EndpointURI\": \"ataat\",\n                    \"transportProfile\": \"at\",\n                    \"ServiceExpirationDate\": \"2017-04-10\",\n                    \"RequireBusinessLevelSignature\": \"false\",\n                    \"TechnicalInformationUrl\": \"123\",\n                    \"MinimumAuthenticationLevel\": \"0\",\n                    \"ServiceDescription\": \"123\"\n                }\n            ]\n        }\n    ],\n    \"DocumentIdentifier\": {\n        \"scheme\": \"at\",\n        \"value\": \"atata\"\n    },\n    \"id\": \"at::atata#\",\n    \"ParticipantIdentifier\": {\n        \"scheme\": \"urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151\",\n        \"value\": \"51009286202\"\n    }\n}"}},"serviceMetadata":{"required":["participantIdentifier"],"properties":{"processList":{"type":"array","items":{"properties":{"processIdentifier":{"$ref":"http://json-schema.org/schema#/definitions/processIdentifier"},"serviceEndpointList":{"type":"array","items":{"$ref":"http://json-schema.org/schema#/definitions/serviceEndpoint"}}}}},"documentIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"id":{"type":"string"},"participantIdentifier":{"type":"array","items":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}}}}},"process":{"properties":{"processIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"serviceEndpointList":{"type":"array","items":{"properties":{"endpointURI":{"type":"string"},"transportProfile":{"type":"string"},"requireBusinessLevelSignature":{"type":"string"},"minimumAuthenticationLevel":{"type":"number"},"certificate":{"type":"string"},"serviceDescription":{"type":"string"},"technicalInformationUrl":{"type":"string"},"serviceActivationDate":{"type":"string","format":"date"},"serviceExpirationDate":{"type":"string","format":"date"}}}}}},"serviceEndpoint":{"properties":{"endpointURI":{"type":"string"},"transportProfile":{"type":"string"},"requireBusinessLevelSignature":{"type":"string"},"minimumAuthenticationLevel":{"type":"number"},"certificate":{"type":"string"},"serviceDescription":{"type":"string"},"technicalInformationUrl":{"type":"string"},"serviceActivationDate":{"type":"string","format":"date"},"serviceExpirationDate":{"type":"string","format":"date"}}},"processIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"documentIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"participantIdentifier":{"properties":{"scheme":{"type":"string","description":"The scheme of the identifier"},"value":{"type":"string","description":"The unique ID within the scheme"}}},"keyDetailList":{"type":"array","items":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}}},"keyDetail":{"properties":{"published":{"type":"string","format":"date-time"},"keyid":{"type":"string"},"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}}},"keyDetailPost":{"properties":{"pubKey":{"type":"string"},"revoked":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"}},"example":{"application/json":"{\n    \"published\": \"2017-04-11T13:58:37.058Z\",\n    \"keyid\": \"string\",\n    \"pubKey\": \"string\",\n    \"revoked\": \"2017-04-11T13:58:37.058Z\",\n    \"fingerprint\": \"string\"\n}"}},"revokeDetail":{"properties":{"revoked":{"type":"string","format":"date-time"}},"example":{"application/json":"{\n    \"revoked\": \"2017-04-11T14:00:09.546Z\"\n}"}},"akaDetail":{"type":"array","items":{"type":"string","description":"linked participant ID"}},"participantIDLinkPost":{"properties":{"participantId":{"type":"string"}}},"errors":{"type":"object","properties":{"errors":{"type":"array","items":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}}}},"error":{"description":"error response srtucture","properties":{"code":{"type":"string","description":"The code associated with the error."},"name":{"type":"string","description":"The name category for the error."},"userMessage":{"type":"string","description":"The human readable error message."}}}},"id":"http://json-schema.org/schema#"}