{
  "swagger": "2.0",
  "host": "syn.testpoint.io",
  "basePath": "/",
  "info": {
    "version": "1.0",
    "title": "Billing document validation API",
    "description": "APIs for validation of the various billing documents (invoice, credit note, ..)"
  },
  "paths": {
    "/invoice": {
      "post": {
        "summary": "Validate an invoice",
        "description": "Validate an invoice",
        "operationId": "validate",
        "parameters": [{
            "name": "invoice",
            "in": "body",
            "description": "invoice to be sent",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden Error"
          },
          "500": {
            "description": "Any appropriate HTTP server error"
          }
        }
      }
    }
  },
  "definitions": {
    "Invoice": {
      "title": "NewInvoice",
      "required": ["IssueDate", "DueDate", "InvoiceTypeCode", "BuyerReference", "OrderReference", "AccountingSupplierParty", "AccountingCustomerParty"],
      "properties": {
        "IssueDate": {
          "type": "string",
          "format": "date"
        },
        "DueDate": {
          "type": "string",
          "format": "date"
        },
        "InvoiceTypeCode": {
          "type": "string"
        },
        "Note": {
          "type": "string"
        },
        "DocumentCurrencyCode": {
          "type": "string"
        },
        "BuyerReference": {
          "type": "string"
        },
        "OrderReference": {
          "$ref": "#/definitions/ID"
        },
        "AccountingSupplierParty": {
          "title": "Suppier Party",
          "properties": {
            "Party": {
              "$ref": "#/definitions/Party"
            }
          }
        },
        "AccountingCustomerParty": {
          "title": "Buyer Party",
          "properties": {
            "Party": {
              "$ref": "#/definitions/Party"
            },
            "BuyerContact": {
              "$ref": "#/definitions/Contact"
            }
          }
        },
        "Delivery": {
          "title": "Delivery Details",
          "properties": {
            "ActualDeliveryDate": {
              "type": "string"
            },
            "DeliveryAddress": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "PaymentMeans": {
          "title": "Playment",
          "properties": {
            "ID": {
              "type": "string"
            },
            "PaymentMeansCode": {
              "type": "string"
            },
            "InstructionID": {
              "type": "string"
            },
            "PayeeFinancialAccount": {
              "title": "PayeeFinancialAccount",
              "properties": {
                "ID": {
                  "type": "string"
                },
                "FinancialInstitutionBranch": {
                  "title": "FinancialInstitutionBranch",
                  "properties": {
                    "ID": {
                      "type": "string"
                    },
                    "Name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "TaxTotal": {
          "title": "TaxAmount",
          "required": ["TaxAmount"],
          "properties": {
            "TaxAmount": {
              "$ref": "#/definitions/Currency"
            }
          }
        },
        "LegalMonetaryTotal": {
          "title": "LegalMonetaryTotal",
          "properties": {
            "LineExtensionAmount": {
              "$ref": "#/definitions/Currency"
            },
            "TaxExclusiveAmount": {
              "$ref": "#/definitions/Currency"
            },
            "TaxInclusiveAmount": {
              "$ref": "#/definitions/Currency"
            },
            "PayableAmount": {
              "$ref": "#/definitions/Currency"
            }
          }
        },
        "InvoiceLine": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvoiceLine"
          }
        }
      }
    },
    "InvoiceLine": {
      "title": "InvoiceLine",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Note": {
          "type": "string"
        },
        "InvoicedQuantity": {
          "type": "string",
          "format": "integer"
        },
        "LineExtensionAmount": {
          "$ref": "#/definitions/Currency"
        },
        "TaxTotal": {
          "title": "TaxTotal",
          "properties": {
            "TaxAmount": {
              "$ref": "#/definitions/Currency"
            },
            "TaxSubtotal": {
              "title": "TaxSubtotal",
              "properties": {
                "TaxAmount": {
                  "$ref": "#/definitions/Currency"
                },
                "TaxCategory": {
                  "title": "TaxCategory",
                  "properties": {
                    "TaxScheme": {
                      "$ref": "#/definitions/ID"
                    }
                  }
                }
              }
            }
          }
        },
        "Item": {
          "title": "Item Identification",
          "properties": {
            "Description": {
              "type": "string"
            },
            "SellersItemIdentification": {
              "$ref": "#/definitions/ID"
            },
            "StandardItemIdentification": {
              "$ref": "#/definitions/ID"
            }
          }
        },
        "Price": {
          "title": "Item Price",
          "properties": {
            "PriceAmount": {
              "$ref": "#/definitions/Currency"
            },
            "BaseQuantity": {
              "type": "string",
              "format": "integer"
            }
          }
        }
      }
    },
    "Currency": {
      "title": "Currency",
      "required": ["currency", "value"],
      "properties": {
        "currency": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Party": {
      "title": "Party Details",
      "required": ["PartyIdentification", "PartyName"],
      "properties": {
        "PartyIdentification": {
          "$ref": "#/definitions/ID"
        },
        "PartyName": {
          "$ref": "#/definitions/Name"
        },
        "PostalAddress": {
          "$ref": "#/definitions/Address"
        },
        "PartyLegalEntity": {
          "$ref": "#/definitions/CompanyID"
        }
      }
    },
    "Contact": {
      "title": "Contact",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Telephone": {
          "type": "string"
        },
        "ElectronicMail": {
          "type": "string"
        }
      }
    },
    "CompanyID": {
      "title": "Company ID",
      "required": ["CompanyID"],
      "properties": {
        "CompanyID": {
          "type": "string"
        }
      }
    },
    "Address": {
      "title": "Address",
      "properties": {
        "CityName": {
          "type": "string"
        },
        "PostalZone": {
          "type": "string"
        },
        "CountrySubentity": {
          "type": "string"
        },
        "AddressLine": {
          "$ref": "#/definitions/AddressLine"
        },
        "Country": {
          "$ref": "#/definitions/Country"
        }
      }
    },
    "Country": {
      "title": "Country",
      "properties": {
        "IdentificationCode": {
          "description": "Country Code",
          "type": "string"
        }
      }
    },
    "AddressLine": {
      "title": "Address Line",
      "properties": {
        "Line": {
          "type": "string"
        }
      }
    },
    "Name": {
      "title": "Name",
      "required": ["Name"],
      "properties": {
        "Name": {
          "type": "string"
        }
      }
    },
    "ID": {
      "title": "Identification GUID",
      "required": ["ID"],
      "properties": {
        "ID": {
          "type": "string"
        }
      }
    }
  }
}
