<head>
    <meta charset="UTF-8">
    <title>AusDigital Standards by ausdigital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/stylesheet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/github-light.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/sidebar.css" | prepend: site.baseurl }}">
</head>