<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="main">
        <div id="menu">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    {% assign current = page.url | downcase | split: '/' %}
                    <li class="pure-menu-title">Technical</li>
                    <li class="pure-menu-item{% if current[1] == 'identity-provider' %} active{% endif %}"><a href="/identity-provider/" class="pure-menu-link">Identity Provider (IDP)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'digital-capability-locator' %} active{% endif %}"><a href="/digital-capability-locator/" class="pure-menu-link">Capability Locator (DCL)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'service-metadata-publisher' %} active{% endif %}"><a href="/service-metadata-publisher/" class="pure-menu-link">Capability Publisher (DCP)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'transaction-access-point' %} active{% endif %}"><a href="/transaction-access-point/" class="pure-menu-link">Access Point (TAP)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'notary' %} active{% endif %}"><a href="/notary/" class="pure-menu-link">Notary (NRY)</a></li>
                    <li class="pure-menu-title">Semantics</li>
                    <li class="pure-menu-item{% if current[1] == 'ubl-json' %} active{% endif %}"><a href="/ubl-json/" class="pure-menu-link">UBL JSON Format (JSON)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'code-lists' %} active{% endif %}"><a href="/code-lists/" class="pure-menu-link">Code Lists Mgmt (CODE)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'billing-semantics' %} active{% endif %}"><a href="/billing-semantics/" class="pure-menu-link">Billing Process (BILL)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'purchase-order-semantics' %} active{% endif %}"><a href="/purchase-order-semantics/" class="pure-menu-link">Purchase Orders (PO)</a></li>
                    <li class="pure-menu-item{% if current[1] == 'fulfillment-semantics' %} active{% endif %}"><a href="/fulfillment-semantics/" class="pure-menu-link">Fulfillment (SHIP)</a></li>
                    <li class="pure-menu-title">Governance</li>
                    <li class="pure-menu-item{% if current[1] == 'newsletter-signup' %} active{% endif %}"><a href="/governance-model/" class="pure-menu-link">Governance Model</a></li>
                    <li class="pure-menu-title">Newsletter</li>
                    <li class="pure-menu-item{% if current[1] == 'newsletter-signup' %} active{% endif %}"><a href="http://eepurl.com/ctZ6hf" class="pure-menu-link">Sign Up</a></li>
                    
                </ul>
            </div>
        </div>

        <section class="main-content" id="main-content">
            {{ content }}
            {% include footer.html %}
        </section>
    </div>
</div>
