<ul class="sidebar-menu">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="menu-title">Benefits</li>
    <li><a {% if current[1] == 'business-case' %}class="active"{% endif %} href="/business-case/">A Business Case</a></li>
    <li class="menu-title">Technical Specs</li>
    <li><a {% if current[1] == 'ausdigital-idp' or current[2] == 'ausdigital-idp' %}class="active"{% endif %} href="/ausdigital-idp/">Identity Provider (IDP)</a></li>
    <li><a {% if current[1] == 'ausdigital-dcl' or current[2] == 'ausdigital-dcl' %}class="active"{% endif %} href="/ausdigital-dcl/">Capability Locator (DCL)</a></li>
    <li><a {% if current[1] == 'ausdigital-dcp' or current[2] == 'ausdigital-dcp' %}class="active"{% endif %} href="/ausdigital-dcp/">Capability Publisher (DCP)</a></li>
    <li><a {% if current[1] == 'ausdigital-tap' or current[2] == 'ausdigital-tap' %}class="active"{% endif %} href="/ausdigital-tap/">Access Point (TAP)</a></li>
    <li><a {% if current[1] == 'ausdigital-tap-gw' or current[2] == 'ausdigital-tap-gw' %}class="active"{% endif %} href="/ausdigital-tap-gw/">TAP Gateway (TAP-GW)</a></li>
    <li><a {% if current[1] == 'ausdigital-nry' or current[2] == 'ausdigital-nry' %}class="active"{% endif %} href="/ausdigital-nry/">Notary (NRY)</a></li>
    <li><a {% if current[1] == 'ausdigital-syn' or current[2] == 'ausdigital-syn' %}class="active"{% endif %} href="/ausdigital-syn/">UBL Syntax (SYN)</a></li>
    <li class="menu-title">Semantic Specs</li>
    <li><a {% if current[1] == 'ausdigital-code' or current[2] == 'ausdigital-code' %}class="active"{% endif %} href="/ausdigital-code/">Code Lists Mgmt (CODE)</a></li>
    <li><a {% if current[1] == 'ausdigital-bill' or current[2] == 'ausdigital-bill' %}class="active"{% endif %} href="/ausdigital-bill/">Billing Process (BILL)</a></li>
    <li><a {% if current[1] == 'ausdigital-po' or current[2] == 'ausdigital-po' %}class="active"{% endif %} href="/ausdigital-po/">Purchase Orders (PO)</a></li>
    <li><a {% if current[1] == 'ausdigital-ship' or current[2] == 'ausdigital-ship' %}class="active"{% endif %} href="/ausdigital-ship/">Fulfillment (SHIP)</a></li>
    <li class="menu-title">Governance</li>
    <li><a {% if current[1] == 'governance-model' %}class="active"{% endif %} href="/governance-model/">Governance Model</a></li>
    <li class="menu-title">Community</li>
    <li><a href="http://eepurl.com/ctZ6hf" target="_blank">Newsletter (subscribe)</a></li>
    <li><a href="http://chat.ausdigital.org" target="_blank">Chat (join team)</a></li>
    <li><a href="https://github.com/ausdigital/" target="_blank">GitHub</a></li>
</ul>