<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div class="main-wrapper">
    <div class="docs-content">
        <div class="spec-header">
            {% assign page.specs_assets = page.specs_assets | append: page.url %}
            <ul>
                <li>Spec ID: {{ page.specID | markdownify}}</li>
                <li>{{ page.status | markdownify}}</li>
                <li>Editor: {{ page.editors | markdownify}}</li>
                <li>Contributors: {{ page.contributors | markdownify}}</li>
            </ul>
        </div>
        {% include toc.html %}
        {{ content }}
    </div>
</div>
{% include footer.html %}

</body>
</html>